
/* Header */
.navbar-brand {
    /* Adding this to the Bootstrap class - just be careful */
    height: 75px;
}

li.topHeaderMenuItem > a {
    padding-top: 33px;
}

.logo {
    font-size: 15px;
    color: #ffffff;
    padding-left: 0;
}

.body {
    padding-top: 0;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -50px;
}

.push {
    margin-bottom: 50px;
}


/* Helper Classes */
.smallVerticalSpacer {
    display: block;
    height: 30px;
}

.products, .main {
    max-width: 1200px;
}

label.error {
    color: #b50000;
    font-weight: normal;
}


/* Products Nav */
#mynav {
    min-height: 0;
}

/* Products display */
.bodyproduct {
    padding-top: 0px;
    font-size: 17px;
}

@media (min-width: 992px) {
    #productImage .thumbnail {
        margin-top: -50px;
    }
}

#products .well {
    background-image: linear-gradient(to bottom, rgba(131, 164, 192, 1) 0%, #f5f5f5 100%)
}

.productDetails li, .categoryDetails li {
    padding-bottom: 15px;
}
.categoryDetails li:last-child {
    padding-bottom: 0;
}



/* Hero Text */

.hero-category {
    width: 100%;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 30px;
    font-size: 48px;
    font-family: nudista-web-n7 ,nudista-web,"Helvetica Neue",Helvetica,Arial sans-serif;
    font-weight: 700;
}

.hero-content {
    width: 100%;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 30px;
    font-size: 48px;
    font-family: nudista-web-n7 ,nudista-web,"Helvetica Neue",Helvetica,Arial sans-serif;
    font-weight: 700;
}

.hero-edit {
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-family: nudista-web-n7 ,nudista-web,"Helvetica Neue",Helvetica,Arial sans-serif;
    font-weight: 700;
}


.subText {
    font-size: 30px;
    font-weight: 300;
}

.stand-out {
    color: #428bca;
}

.wellCategoryCommon {
    background-image: none;
    background-color: #1DD1BC;
    float: none;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 17px;
}

.categoryDetails {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 30px;
}

.modal-image {
    width: 100%;
}

.kiran-modal {
    width: 830px;
}



/* Admin */
#file_upload {
    visibility: hidden;
}

.footerButton {
    margin-left: 5px;
    margin-right: 5px;
}

.overlay {
    position:relative;
    z-index: 100;
}

/* Make the bootstrap table stripping visible */
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #DBDBDB;
}

#mainHtml {
    color: #666;
    text-align: justify;
}

#mainHtml p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.center {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}